*{
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9fafc;
}

body{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    /* border: 1px solid gray; */
    border-radius: 20px;
    padding: 10px 30px 20px 30px;
    box-shadow: 0px 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0,0,0,0.08), 0px -4px 6px rgba(50, 50, 93, 0.11), 0 -1px 3px rgba(0,0,0,0.08);
    /* box-shadow: 0px 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0,0,0,0.08); */
    background-color: #ffffff;
    width: 100%;
    max-width: 600px;
    max-height: 800px;
    height: 100vh;
    color: #1d2d3d;
}

.header{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* border-bottom: 1px solid gray; */
    padding-bottom: 20px;
}

.header_main{
    display: flex;
    justify-content: space-around;
    /* border: 1px solid gray; */
    margin-top: 0;
    color: #1d2d3d;
    font-size: 12px;
}

.header_main_greeting_p{
    position: relative;
    right: 40px;
    /* margin-top: 0; */
    padding-top: 0;
    font-weight: 500;
    font-size: 10px;
    min-width: 153.66px;
    /* border: 1px solid gray; */
}

.header_main_date{
    display: flex;
    justify-content: flex-end;
    position: relative;
    left: 40px;
    margin-top: 0;
    padding-top: 0;
    font-weight: 600;
    /* border: 1px solid gray; */
}


/* .header_main_date_time{
    margin-right: 10px;
} */

.header_main_date_day{
    margin-right: 10px;
}

.header_content{
    display: flex;
    justify-content: space-around;
    /* border: 1px solid gray; */
}

.header .header_content .header_content_maintext{
    cursor: pointer;
    padding: 5px;
}

.header .header_content .header_content_home{
    /* margin-right: 50px; */
    cursor: pointer;
    padding: 5px;
} 

.header .header_content .header_content_reset{
    /* margin-left: 50px; */
    cursor: pointer;
    /* border: 1px solid gray; */
    padding: 5px;
    border-radius: 4px;
    box-shadow: 0px 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0,0,0,0.08);
    transition: 1s;
}

.header_content_reset:hover{
    transform: scale(1.1);
}

.header_content_reset:active{
    transform: translateY(0.9px);
}

.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* overflow auto 스크롤바 생성 */
    overflow: auto;
    scroll-behavior: smooth;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0,0,0,0.08), 0px -4px 6px rgba(50, 50, 93, 0.11), 0 -1px 3px rgba(0,0,0,0.08);
    /* border: 1px solid gray; */
}

.container::-webkit-scrollbar{
    width: 10px;
    background-color: transparent;
    border-radius: 10px;
}

.container::-webkit-scrollbar-thumb{
    background-color: #e1e4e8;
    border-radius: 10px;
    background-clip: padding-box;
    border: 3px solid transparent;
}

.container::-webkit-resizer{
    width: 10px;
    height: 30px;
}

.container_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    /* border-bottom: 1px solid gray; */
    /* box-shadow: 0px 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0,0,0,0.08), 0px -4px 6px rgba(50, 50, 93, 0.11), 0 -1px 3px rgba(0,0,0,0.08); */
    box-shadow: 0px 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0,0,0,0.08);
    border-radius: 30px;
    background-color: #fff;
}

.container_header h2{
    padding: 10px;
}

.container_header_img{
    display: flex;
    cursor: pointer;
    transition: 0.9s;
    box-shadow: 0px 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0,0,0,0.08);
    border-radius: 30px;
    background-color: #E4E4E4;
}

.container_header_img:hover{
    transform: scale(1.1);
    background-color: #fff;
}

.container_header_img:active{
    transform: translateY(0.9px);
    background-color: #fff;
}

.container .container_header img{
    width: 100px;
    height: 100px;
    /* border: 1px solid gray; */
}

.container_content{
    display: flex;
    padding: 10px;
}

.container .container_content img{
    width: 70px;
    height: 70px;
}

.container p{
    /* text-align: left; */
    padding: 20px;
    margin-top: 1px;
    margin-left: 20px;
    /* width: 400px; */
    /* border: 1px solid gray; */
    border-radius: 10px;   
    /* border-color: white; */
    box-shadow: 0px 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0,0,0,0.08);
    line-height: 0.02em;

    color: #666666;
    font-weight: 700;
}

.container_content_p_name_time{
    display: flex;
    justify-content: space-between;
}

.container_content_user .container_content_name,
.container_content .container_content_name{
    font-size: 8px;
    box-shadow: none;
    margin-bottom: 0;
    padding-bottom: 0;
    color: #1d2d3d;
}

.container_content_user .container_content_time,
.container_content .container_content_time{
    font-size: 2px;
    box-shadow: none;
    margin-bottom: 0;
    padding-bottom: 0;
    color: #1d2d3d;
}


.container_content_user{
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}

.container_content_user p{
    /* text-align: left; */
    padding: 20px;
    margin-top: 1px;
    margin-left: 20px;
    /* width: 400px; */
    /* border: 1px solid gray; */
    border-radius: 10px;   
    /* border-color: white; */
    box-shadow: 0px 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0,0,0,0.08);
    line-height: 0.02em;

    color: #666666;
    font-weight: 700;
}

.container_content_text_p{
    background-color: #fff;
}

.container_content_user img {
    width: 70px;
    height: 70px;
    margin-left: 10px;
}

.container_footer{
    display: flex;
    padding: 10px;
}

.container_footer img{
    width: 70px;
    height: 70px;
}

.container_footer textarea{
    margin-left: 20px;
    padding: 15px;
    border-radius: 20px;
    border-color: white;
    box-shadow: 0px 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0,0,0,0.08);
}

.footer{
    display: flex;
    justify-content: space-around;
    /* border-top: 1px solid gray; */
    padding-top: 13px;
    /* background-color: #1d2d3d; */
    /* height: 100vh; */
    /* max-height: 300px; */
}

.footer_icon{
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 30%;
    /* border: 1px solid gray; */
}

.footer_emoticon{
    width: 20px;
    /* color: #666; */
    filter: opacity(.3) drop-shadow(0 0 0 #e1e4e8);
}


.footer_paperclip{
    width: 20px;
    filter: opacity(.3) drop-shadow(0 0 0 #e1e4e8);
}


.footer_microphone{
    width: 20px;
    filter: opacity(.3) drop-shadow(0 0 0 #e1e4e8);
}

.footer_microphone:hover,
.footer_paperclip:hover,
.footer_emoticon:hover{
    cursor: pointer;
    filter: opacity(.6) drop-shadow(0 0 0 #e1e4e8);
}

.footer_form{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
}

.footer_input{
    border-radius: 5px;
    border-color: white;
    padding: 5px;
    margin-right: 10px;
    box-shadow: 0px 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0,0,0,0.08);
    width: 80%;
    /* border: none; */
}

.footer_button{
    border-radius: 5px;
    border-color: white;
    background-color: white;
    box-shadow: 0px 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0,0,0,0.08);

    cursor: pointer;
    width: 50px;
    height: 30px;
}

.footer_button:active,
.footer-input:active,
.footer_button:focus,
.footer_input:focus{
    outline: none;
    outline-color: #dbdee4;
    border-color: #80868e;
}

.footer_button:active{
    transform: translateY(0.9px);
}

