*{
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html{
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    /* border: 1px solid gray; */
    border-radius: 30px;
    padding: 30px;
    box-shadow: 0px 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0,0,0,0.08);
}

.header{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    border-bottom: 1px solid gray;
    padding-bottom: 20px;
}

.header_date{
    display: flex;
    justify-content: flex-end;
    /* border: 1px solid gray; */
}

.header_date_time{
    margin-right: 10px;
}

.header_date_day{
    margin-right: 10px;
}

.header_content{
    display: flex;
    justify-content: space-around;
    /* border: 1px solid gray; */
}

.header .header_content .header_content_maintext{
    cursor: pointer;
    padding: 5px;
}

.header .header_content .header_content_home{
    /* margin-right: 50px; */
    cursor: pointer;
    padding: 5px;
} 

.header .header_content .header_content_reset{
    /* margin-left: 50px; */
    cursor: pointer;
    /* border: 1px solid gray; */
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0,0,0,0.08);
    transition: 1s;
}

.header_content_reset:hover{
    transform: scale(1.1);
}

.header_content_reset:active{
    transform: translateY(0.9px);
}

.container{
    display: flex;
    flex-direction: column;
    /* border: 1px solid gray; */
    width: 500px;
}

.container_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid gray;
}

.container_header h2{
    padding: 10px;
}

.container_header_img{
    display: flex;
    cursor: pointer;
    transition: 0.9s;
    box-shadow: 0px 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0,0,0,0.08);
    border-radius: 30px;
}

.container_header_img:hover{
    transform: scale(1.1);
}

.container_header_img:active{
    transform: translateY(0.9px);
}

.container .container_header img{
    width: 100px;
    height: 100px;
    /* border: 1px solid gray; */
}

.container_content{
    display: flex;
    padding: 10px;
}

.container .container_content img{
    width: 70px;
    height: 70px;
}

.container p{
    /* text-align: left; */
    padding: 10px;
    margin-left: 20px;
    /* width: 400px; */
    border: 1px solid gray;
    border-radius: 10px;   
    border-color: white;
    box-shadow: 0px 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0,0,0,0.08);

    color: #666666;
    font-weight: 700;
}

.container_content_jae{
    display: flex;
    justify-content: flex-end;
}

.container_content_jae_p{
    margin-right: 10px;
}

.container_content_jae img {
    width: 70px;
    height: 70px;
    margin-left: 10px;
}

.container_footer{
    display: flex;
    padding: 10px;
}

.container_footer img{
    width: 70px;
    height: 70px;
}

.container_footer textarea{
    margin-left: 20px;
    padding: 15px;
    border-radius: 20px;
    border-color: white;
    box-shadow: 0px 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0,0,0,0.08);
}

.footer{
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid gray;
    padding-top: 13px;
}

.footer_input{
    border-radius: 5px;
    border-color: white;
    padding: 5px;
    margin-right: 10px;
    box-shadow: 0px 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0,0,0,0.08);
}

.footer_button{
    border-radius: 5px;
    border-color: white;
    background-color: white;
    box-shadow: 0px 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0,0,0,0.08);

    cursor: pointer;
}

.footer_button:active{
    transform: translateY(0.9px);
}

